.landing-page,
.landing-page * {
  box-sizing: border-box;
}
.landing-page {
  background: #ffffff;
  height: 1024px;
  position: relative;
  overflow: hidden;
}
.frame-2 {
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 64px;
  top: 9px;
}
.allan-almeida {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: relative;
}
.frame-4 {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 318px;
  position: absolute;
  left: 1089px;
  top: -1px;
}
.frame-3 {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame-1 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.home-about-contact {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: relative;
}
.let-s-create-a-website-design {
  color: #000000;
  text-align: left;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 72px;
  font-weight: 700;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: 271px;
  width: 1285px;
  height: 125px;
}
.hi-my-name-is-allan-almeida-i-am-an-ai-developer-and-over-the-summer-i-have-worked-as-ai-intern-at-tybera {
  color: #000000;
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: absolute;
  left: 481px;
  top: 426px;
  width: 658px;
  height: 166px;
}
.rectangle-1 {
  background: #a8ff35;
  border-radius: 59px;
  width: 180px;
  height: 57px;
  position: absolute;
  left: 630px;
  top: 545px;
}
.get-started {
  color: #000000;
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: absolute;
  left: calc(50% - 80px);
  top: 563px;
  width: 227px;
  height: 39px;
}
.allan-almeida-university-of-maryland-fall-2025 {
  color: #000000;
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 487px;
  top: 850px;
  width: 516px;
  height: 61px;
}
